/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */ 
.login-splash .twitter-icon {
  position: absolute;
  left: 40vw;
  top: 25vw;
  color: white;
  font-size: 350px;
  z-index: 1;
}
.login-splash {
  display: flex;
}
.login-splash .splash-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background: rgb(0, 0, 0);
  height: 100vw;
}
.login-splash h1 {
color: rgb(217, 217, 217);
  font-size: 64px;
  font-family: 'Verdana';
  font-weight: 700;
}
.login-splash h3 {
  color: rgb(217, 217, 217);
  font-size: 31px;
  font-family: 'Verdana';
  font-weight: 700; 
}

.login-splash a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.button {
  font-size: 15px;
  height: 48px;
  width: 380px;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 9999px; 
  /* margin: 40px 20px 40px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.primary {
  background-color: rgb(29, 161, 242);
  color: rgb(255, 255, 255);
}
.button.secondary {
  color:   rgb(29, 161, 242);
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(29, 161, 242);
}
.login-container {
  background-color: black;
  display: flex;
  height: 100vw;
  justify-content: center;
}
.login-container main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login-container h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 31px;
  font-weight: 700;
}
.login-container .input-box {
  border: 1px solid grey;
  padding: 6px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: 20px 0 25px 0;
  width: 334px;

}
.login-container .twitter-icon {
  color: white;
  font-size: 32px;
}
.login-container main label {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(110, 118, 125);
  font-size: 13px;
  margin-bottom: 3px;
}
.login-container .footer-link-container {
  margin-top: 30px;
  margin: 30px auto 0;
}
.login-container .footer-link {
  color: rgb(29, 161, 242);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-container .flash {
  color: red;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}

.left-sidebar {
  width: 328px;
  height: 100vw;
  color: rgb(28, 30, 33);
  border-right-style: solid;
  border-right-color: rgb(229, 229, 229);
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
}

.create-icon-container {
  height: 60px;
}

.create-icon-container .round-box {
  background: rgb(245, 245, 245);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px 20px 20px auto;
  cursor: pointer;
}

.create-icon-container .round-box:hover {
  background: rgb(232, 232, 232);
}

.left-sidebar .fa-edit {
  font-size: 24px; 
}

.sidebar-item {
  width: 308px;
  height: 72px;
  display: flex;
  align-items: center;
}

.sidebar-item.selected {
  background: rgb(245, 245, 245);
}

.sidebar-item .text {
    padding: 20px 0 20px 20px;
}

.sidebar-item .trash {
  margin-left: auto;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: rgb(245, 245, 245); 
  border: solid 1px rgb(218, 218, 218);
  cursor: pointer;
}

.sidebar-item .fa-trash {
  font-size: 16px;

}

.sidebar-item .trash:hover {
  background: rgb(232, 232, 232);
}

.sidebar-item .id {
  font-weight: 600;
}

.messages-container {
  width: 50vw;
  border-right: solid;
  border-right-color: rgb(229, 229, 229);
  border-right-width: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.messages-header {
  width: 100%;
  padding: 20px 0 20px 20px;
  border-bottom: solid;
  border-bottom-color: rgb(229, 229, 229);
  border-bottom-width: 1px; 
}

.messages {
  height: 1000px;
}

.message {
  padding: 7px 12px 8px;
  border-radius: 18px;
}

.message.human {
  background: rgb(0, 153, 255);
  color: rgb(255, 255, 255);
}

.message.bot {
  background: rgb(228, 230, 235);
  color: rgb(5, 5, 5);
}

.messages-input {
  display: flex;
  align-items: center;
}

.messages-input input { 
  background: rgba(123, 142, 153, 0.1);
  border-radius: 20px;
  border-width: 0px;
  border: none;
  width: 86%;
  padding: 10px 10px;
  margin: 0 10px;
}

.messages-input .fa-paper-plane {
  font-size: 24px;
  color: rgb(0, 153, 255);

}

input:focus {
  outline: none;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh; 
  max-height: 100%;
}

.main-container .horizontal-margin {
  width: 100%;
  background: black;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 251px;
  background: rgb(0, 0, 0);
  padding: 8px 12px;
  height: calc(100vh-20px);
}

.sidebar-container .twitter-icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.sidebar-container .twitter-icon {
  font-size: 24px;
  color: rgb(217, 217, 217);
  margin: 0 0 20px 12px;
}

.sidebar-item-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 700; 
  color: rgb(217, 217, 217);
  width: 100%;
  padding: 4px 0;
  margin: 0 0 20px 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

.sidebar-item-container.active {
  color: rgb(29, 169, 242);
}

.sidebar-item-container:hover {
  color: rgb(29, 169, 242);
  cursor: pointer;
}

.sidebar-item-container .icon-container {
  width: 40px;
}

.sidebar-item-container .icon {
  padding-right: 17px;
  padding-bottom: 1px;
  
}

.sidebar-container .tweet-button {
  background-color: rgb(29, 160, 242);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
  margin-top: 6px;
  padding: 12px 0;
  width: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
}

.sidebar-container .tweet-button:hover {
    background-color: rgb(26, 145, 218);
}

.sidebar-container .tweet-button .text {
  color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.profile-badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -39px;
  margin-bottom: 20px;
}

.profile-badge-container:last-of-type {
  margin-top: auto;
}

.profile-badge-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.profile-badge-container .name {
  color: rgb(217, 217, 217);
  font-size: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 3px;
}

.profile-badge-container .handle {
  color: rgb(110, 118, 125);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-left: -1px;
}

.profile-badge-container .more-button {
  color: rgb(217, 217, 217);
  font-weight: 200;
  margin-left: 32px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  width: 566px;
  justify-content: flex-start;
  align-items: flex-start;
  background: black;
  color: rgb(217, 217, 217);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.feed-container .borders {
  border: 1px solid rgb(47, 51, 54);
}

.feed-container .header {
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  height: 51px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  border-bottom: 0;
  box-sizing: border-box;
}

.feed-container .header .icon-container {
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.1s;
}

.feed-container .header  .icon-container:last-of-type {
  margin-left: auto;
}

.feed-container .header  .icon-container:hover {
  background: rgba(29, 161, 242, 0.03);
}

.feed-container .header  .icon {
  fill: rgb(29, 161, 242);
  width: 22px;
  height: 22px;
}



.compose-tweet-container {
  padding: 8px 16px 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.compose-tweet-container .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.compose-tweet-container .content-container {
  width: 100%;
}

.compose-tweet-container .tweet-text-input {
  background: black;
  outline: none;
  border: none;
  width: 100%;
  color: rgb(217, 217, 217);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding: 12px 0;
  font-weight: 500;
  resize: none;
}

.compose-tweet-container .tweet-text-input::placeholder {
}

.compose-tweet-container .buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 52px;
  width: 100%;
}

.compose-tweet-container .icon-container {
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.1s;
}

.compose-tweet-container .icon-container:first-child {
  margin-left: -8px;
}

.compose-tweet-container .icon-container:hover {
  background: rgba(29, 161, 242, 0.03);
}

.compose-tweet-container .icon {
  fill: rgb(29, 161, 242);
  width: 22px;
  height: 22px;
}

.compose-tweet-container .tweet-button {
  background-color: rgb(29, 160, 242);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
  width: 65px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  cursor: pointer;
  color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.compose-tweet-container .tweet-button:last-of-type {
  margin-left: auto;
}

.compose-tweet-container .tweet-button:hover {
    background-color: rgb(26, 145, 218);
}

.compose-tweet-container .tweet-button .text {
  padding-top: 1px;
}

.right-sidebar-container {
  width: 350px;
  background: black;
  color: rgb(217, 217, 217);
  padding-left: 32px;
}

.right-sidebar-container .static-image {
  width: 350px;
  cursor: not-allowed;
}

.right-sidebar-container .image-2 {
  margin-left: -1px;
  margin-top: 1px;
}
.right-sidebar-container .image-3 {
  margin-left: -1px;
  margin-top: -4px;
}