/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */ 
.login-splash .twitter-icon {
  position: absolute;
  left: 40vw;
  top: 25vw;
  color: white;
  font-size: 350px;
  z-index: 1;
}
.login-splash {
  display: flex;
}
.login-splash .splash-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background: rgb(0, 0, 0);
  height: 100vw;
}
.login-splash h1 {
color: rgb(217, 217, 217);
  font-size: 64px;
  font-family: 'Verdana';
  font-weight: 700;
}
.login-splash h3 {
  color: rgb(217, 217, 217);
  font-size: 31px;
  font-family: 'Verdana';
  font-weight: 700; 
}

.login-splash a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.button {
  font-size: 15px;
  height: 48px;
  width: 380px;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 9999px; 
  /* margin: 40px 20px 40px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.primary {
  background-color: rgb(29, 161, 242);
  color: rgb(255, 255, 255);
}
.button.secondary {
  color:   rgb(29, 161, 242);
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(29, 161, 242);
}
.login-container {
  background-color: black;
  display: flex;
  height: 100vw;
  justify-content: center;
}
.login-container main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login-container h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 31px;
  font-weight: 700;
}
.login-container .input-box {
  border: 1px solid grey;
  padding: 6px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: 20px 0 25px 0;
  width: 334px;

}
.login-container .twitter-icon {
  color: white;
  font-size: 32px;
}
.login-container main label {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(110, 118, 125);
  font-size: 13px;
  margin-bottom: 3px;
}
.login-container .footer-link-container {
  margin-top: 30px;
  margin: 30px auto 0;
}
.login-container .footer-link {
  color: rgb(29, 161, 242);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-container .flash {
  color: red;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}
/* .main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

} */

.left-sidebar {
  width: 328px;
  height: 100vw;
  color: rgb(28, 30, 33);
  border-right-style: solid;
  border-right-color: rgb(229, 229, 229);
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
}

.create-icon-container {
  height: 60px;
}

.create-icon-container .round-box {
  background: rgb(245, 245, 245);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px 20px 20px auto;
  cursor: pointer;
}

.create-icon-container .round-box:hover {
  background: rgb(232, 232, 232);
}

.left-sidebar .fa-edit {
  font-size: 24px; 
}

.sidebar-item {
  width: 308px;
  height: 72px;
  display: flex;
  align-items: center;
}

.sidebar-item.selected {
  background: rgb(245, 245, 245);
}

.sidebar-item .text {
    padding: 20px 0 20px 20px;
}

.sidebar-item .trash {
  margin-left: auto;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: rgb(245, 245, 245); 
  border: solid 1px rgb(218, 218, 218);
  cursor: pointer;
}

.sidebar-item .fa-trash {
  font-size: 16px;

}

.sidebar-item .trash:hover {
  background: rgb(232, 232, 232);
}

.sidebar-item .id {
  font-weight: 600;
}

.messages-container {
  width: 50vw;
  border-right: solid;
  border-right-color: rgb(229, 229, 229);
  border-right-width: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.messages-header {
  width: 100%;
  padding: 20px 0 20px 20px;
  border-bottom: solid;
  border-bottom-color: rgb(229, 229, 229);
  border-bottom-width: 1px; 
}

.messages {
  height: 1000px;
}

.message {
  padding: 7px 12px 8px;
  border-radius: 18px;
}

.message.human {
  background: rgb(0, 153, 255);
  color: rgb(255, 255, 255);
}

.message.bot {
  background: rgb(228, 230, 235);
  color: rgb(5, 5, 5);
}

.messages-input {
  display: flex;
  align-items: center;
}

.messages-input input { 
  background: rgba(123, 142, 153, 0.1);
  border-radius: 20px;
  border-width: 0px;
  border: none;
  width: 86%;
  padding: 10px 10px;
  margin: 0 10px;
}

.messages-input .fa-paper-plane {
  font-size: 24px;
  color: rgb(0, 153, 255);

}

input:focus {
  outline: none;
}